<div class="wrapper">
  <div class="container">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div formGroupName="customer">
        <h3>Customer</h3>
        <div class="checkout-button">
          <input
            class="form-control"
            placeholder="Firstname"
            formControlName="firstName"
            type="text"
          />
          <input
            class="form-control"
            placeholder="Lastname"
            formControlName="lastName"
            type="text"
          />
        </div>
        <div
          *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
          class="alert alert-danger col-xs-5"
        >
          <div *ngIf="firstName?.errors?.['required']">
            First Name is required!
          </div>
          <div *ngIf="firstName?.errors?.['minlength']">
            First Name must be at least 3 characters long
          </div>
        </div>
        <div
          *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
          class="alert alert-danger col-xs-5"
        >
          <div *ngIf="lastName?.errors?.['required']">
            Last Name is required!
          </div>
          <div *ngIf="lastName?.errors?.['minlength']">
            Last Name must be at least 3 characters long
          </div>
        </div>
        <div class="email-details">
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Email"
          />
          <div
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            class="alert alert-danger col-mt-1"
          >
            <div *ngIf="email?.errors?.['required']">Email is required!</div>
            <div *ngIf="email?.errors?.['pattern']">
              Email must be valid address format!
            </div>
          </div>
        </div>
        <div class="checkout-button">
          <input
            class="form-control"
            formControlName="country"
            placeholder="Country"
            type="text"
          />
          <input
            class="form-control"
            formControlName="zipCode"
            placeholder="Zip Code"
            type="text"
          />
          <input
            class="form-control"
            formControlName="city"
            placeholder="City"
            type="text"
          />
        </div>
        <div
          *ngIf="country?.invalid && (country?.dirty || country?.touched)"
          class="alert alert-danger col-xs-3"
        >
          <div *ngIf="country?.errors?.['required']">Country is required!</div>
          <div *ngIf="country?.errors?.['minlength']">
            Country must be at least 3 characters long
          </div>
        </div>
        <div
          *ngIf="zipCode?.invalid && (zipCode?.dirty || zipCode?.touched)"
          class="alert alert-danger col-xs-3"
        >
          <div *ngIf="zipCode?.errors?.['required']">
            Zipe Code is required!
          </div>
          <div *ngIf="zipCode?.errors?.['minlength']">
            Zip Code must be at least 3 characters long
          </div>
        </div>
        <div
          *ngIf="zipCode?.invalid && (zipCode?.dirty || zipCode?.touched)"
          class="alert alert-danger col-xs-3"
        >
          <div *ngIf="zipCode?.errors?.['required']">City is required!</div>
          <div *ngIf="zipCode?.errors?.['minlength']">
            City must be at least 3 characters long
          </div>
        </div>
        <div class="house-details">
          <input
            type="text"
            class="form-control"
            formControlName="streetAndHouseNumber"
            placeholder="Street and House number"
          />
          <div
            *ngIf="
              streetAndHouseNumber?.invalid &&
              (streetAndHouseNumber?.dirty || streetAndHouseNumber?.touched)
            "
            class="alert alert-danger col-mt-1"
          >
            <div *ngIf="streetAndHouseNumber?.errors?.['required']">
              Street and House Number is required!
            </div>
            <div *ngIf="streetAndHouseNumber?.errors?.['minlength']">
              Street amd House Number must be at least 3 characters long
            </div>
          </div>
        </div>
        <div class="other-details">
          <input
            type="text"
            class="form-control"
            placeholder="Other"
            formControlName="other"
          />
        </div>
      </div>
      <hr />
      <div
        formGroupName="paymentMethod"
        class="form-area"
        (click)="onSwitchMode()"
      >
        <h3>Payment Method</h3>
        <select formControlName="meansOfPayment" class="form-control">
          <option>Master Card</option>
          <option>VISA</option>
          <option>PayPal</option>
          <option>Maestro</option>
          <option>Cash on delivery</option>
        </select>
      </div>
      <div class="text-center">
        <button
          [disabled]="checkoutForm.invalid"
          type="submit"
          class="btn btn-success"
        >
          {{ paymentValue ? "Go to payment" : "Submit" }}
        </button>
      </div>
    </form>
  </div>
  <div class="container">
    <h3>Your Order</h3>
    <table class="table">
      <tbody>
        <tr>
          <th width="50%">Product</th>
          <th width="25%">Quantity</th>
          <th width="25%">Subtotal</th>
        </tr>
        <tr *ngFor="let tempCartItem of cartItems">
          <td>
            <div class="cart-details">
              <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" />
              <div class="cart-inside-details">
                <h6>{{ tempCartItem.name }}</h6>
                <p>{{ tempCartItem.unitPrice | currency: "USD" }}</p>
              </div>
            </div>
          </td>
          <td>
            <p>{{ tempCartItem.quantity }}</p>
          </td>
          <td>
            <p>
              {{
                tempCartItem.quantity * tempCartItem.unitPrice | currency: "USD"
              }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="total">
      <p>
        Total Price:
        {{ totalPrice | currency: "USD" }}
      </p>
      <p>
        Total Quantity:
        {{ totalQuantity }}
      </p>
      <p>Shipping: FREE</p>
    </div>
    <div class="text-center">
      <button routerLink="/cart-details" class="btn btn-info">
        Back to Cart
      </button>
    </div>
  </div>
</div>
