.container {
  background-color: #f3f4f6;
  max-width: 500px;
  border-radius: 20px;
}
.checkout-button {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 450px;
}
.form-control {
  margin-left: 20px;
}
.house-details {
  margin-bottom: 30px;
  max-width: 430px;
}
.other-details {
  max-width: 430px;
}
.wrapper {
  display: flex;
  border: 0px;
}
h3 {
  text-align: center;
}
.form-control {
  border-radius: 5px;
}
.email-details {
  margin-bottom: 30px;
  max-width: 430px;
}
.alert {
  margin-left: 30px;
}
.form-area .form-control {
  max-width: 250px;
  margin: 20px;
  margin-left: 100px;
  margin-top: 40px;
}
.text-center button {
  margin: 20px;
  align-items: center;
}
.img-responsive {
  max-height: 80px;
}
td p {
  font-size: 10px;
}
.cart-details {
  display: flex;
}
.total p {
  text-align: center;
  font-size: 12px;
}
.total {
  border-top: 1px solid;
  color: #333;
  padding-top: 10px;
}
