<div class="wrapper">
  <div class="container">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div formGroupName="user">
        <h3>Login</h3>
        <div class="login-button">
          <input
            class="form-control"
            placeholder="Email"
            formControlName="email"
            type="text"
          />
          <input
            class="form-control"
            placeholder="Password"
            formControlName="password"
            type="text"
          />
        </div>
        <div class="text-center">
          <button
            [disabled]="authForm.invalid"
            type="submit"
            class="btn btn-success"
          >
            Login
          </button>
        </div>
      </div>
      <h6>
        You are not Register? <a routerLink="/registration">Click here</a>
      </h6>
    </form>
  </div>
</div>
