.dropdown {
  position: relative;
}
ul li input {
  margin-right: 200px;
  margin-top: 3px;
  font-size: 15px;
}
li.search {
  margin-top: 5px;
  max-width: 400px;
  margin-right: 550px;
}

.ex4 {
  font-size: 20px;
  margin-right: 10px;
}
li a {
  cursor: pointer;
}
