<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Webshop</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/products">Accessories</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <app-search></app-search>
        <li>
          <a routerLink="/cart-details" class="ex4">
            <i class="glyphicon glyphicon-shopping-cart"></i>
          </a>
        </li>
        <li>
          <a *ngIf="!isAuthenticated" routerLink="/login">Login</a>
        </li>
        <li>
          <a *ngIf="isAuthenticated" (click)="logOut()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
