<div class="wrapper">
  <div class="container">
    <div *ngIf="cartItems.length > 0">
      <table class="table table-striped">
        <tr>
          <th width="50%">Product</th>
          <th width="25%">Quantity</th>
          <th width="25%">Subtotal</th>
        </tr>
        <tr *ngFor="let tempCartItem of cartItems">
          <td>
            <div class="cart-details">
              <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" />
              <div class="cart-inside-details">
                <h5>{{ tempCartItem.name }}</h5>
                <p>{{ tempCartItem.unitPrice | currency: "USD" }}</p>
              </div>
            </div>
          </td>
          <td>
            <div class="edit">
              <div class="edit-increment">
                <div class="col">
                  <button
                    (click)="decrementQuantity(tempCartItem)"
                    class="btn btn-secondary btn-sm"
                  >
                    <i class="glyphicon glyphicon-minus"></i>
                  </button>
                </div>
              </div>
              <div class="quantity">
                <p>{{ tempCartItem.quantity }}</p>
              </div>
              <div class="edit-decrement">
                <div class="col">
                  <button
                    (click)="incrementQuantity(tempCartItem)"
                    class="btn btn-secondary btn-sm"
                  >
                    <i class="glyphicon glyphicon-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="subtotal">
              <p>
                {{
                  tempCartItem.quantity * tempCartItem.unitPrice
                    | currency: "USD"
                }}
              </p>
              <div class="remove">
                <button
                  (click)="remove(tempCartItem)"
                  class="btn btn-danger btn-sm"
                >
                  Remove
                </button>
              </div>
            </div>
          </td>
        </tr>
        <tr class="details">
          <td colspan="2"></td>
          <td class="cart-final-details">
            <p>Total Quantity: {{ totalQuantity }}</p>
            <p>Shipping: FREE</p>
            <p>Total Price: {{ totalPrice | currency: "USD" }}</p>
          </td>
        </tr>
      </table>
      <div class="text-center">
        <button routerLink="/checkout" class="btn btn-secondary">
          Checkout
        </button>
      </div>
    </div>
    <div
      *ngIf="cartItems.length === 0"
      class="alert alert-warning"
      role="alert"
    >
      Your shopping cart is emty!
    </div>
  </div>
</div>
