tr td img {
  max-height: 150px;
}
.cart-details {
  display: flex;
}
.alert {
  text-align: center;
}
.details {
  border-top: 1px solid;
  color: #333;
}
td {
  padding-top: 10px;
}
.wrapper {
  margin-top: 30px;
  margin-bottom: 60px;
  align-items: center;
}
.text-center button {
  align-items: center;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.8s;
}
.edit {
  display: flex;
}
.edit-increment {
  margin-left: 20px;
}
.edit-decrement {
  margin-left: 20px;
}
.quantity {
  margin-left: 20px;
}
.subtotal {
  display: flex;
}
.remove {
  margin-left: 40px;
}
