.wrapper {
  display: flex;
}
.price {
  text-align: center;
  margin: 10px;
}
.product-box {
  text-align: center;
}
button {
  text-align: center;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.8s;
}
.product-box a {
  text-decoration: none;
  color: #777;
}
.product-box a:hover {
  color: black;
}
