<div class="wrapper">
  <app-product-category-menu></app-product-category-menu>
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
      <div *ngFor="let tempProduct of products" class="col-md-4">
        <div class="product-box">
          <a routerLink="/products/{{ tempProduct.id }}">
            <img src="{{ tempProduct.imageUrl }}" class="img-responsive" />
          </a>
          <a routerLink="/products/{{ tempProduct.id }}">
            <h4>{{ tempProduct.name }}</h4>
          </a>
          <div class="price">
            {{ tempProduct.unitPrice | currency: "USD" }}
          </div>
          <button (click)="onAddToCart(tempProduct)" class="btn btn-secondary">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
