<form class="navbar-form navbar-left">
  <div class="form-group">
    <input
      #MyInput
      type="text"
      class="form-control"
      placeholder="Search"
      (keyup.enter)="doSearch(MyInput.value)"
    />
  </div>
  <button (click)="doSearch(MyInput.value)" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</form>
