<aside class="navbar navbar-default">
  <ul>
    <li><a routerLink="/categories/1" class="section">Accessories</a></li>
    <li *ngFor="let tempProductCategory of productCategories">
      <a routerLink="/categories/{{ tempProductCategory.id }}">{{
        tempProductCategory.categoryName
      }}</a>
    </li>
  </ul>
</aside>
