aside {
  width: 220px;
  border-radius: 10px;
}
ul li {
  list-style: none;
  color: #777;
  margin: 10px;
  padding-bottom: 20px;
}
ul li a {
  color: #777;
}
ul {
  margin-top: 30px;
}
.navbar a:hover {
  text-decoration: none;
  color: black;
  background-color: transparent;
  padding: 5px;
}
.section {
  font-size: 20px;
  margin-top: 20px;
}
