.detail-section {
  display: flex;
  align-items: center;
}
select {
  max-width: 60px;
}
.container h1 {
  margin-bottom: 60px;
}
.container h4 {
  margin-bottom: 40px;
}
.container h3 {
  margin-top: 70px;
  margin-bottom: 30px;
}
.product-detail-button {
  display: flex;
}
.product-detail-button button {
  margin-left: 30px;
}
.container p {
  max-width: 500px;
}
.product-detail-button button:hover {
  color: white;
  background-color: black;
}
