<div class="detail-section">
  <div class="container">
    <img src="{{ product.imageUrl }}" class="img-responsive" />
  </div>
  <div class="container">
    <h1>{{ product.name }}</h1>
    <h4>{{ product.unitPrice | currency: "USD" }}</h4>
    <div class="product-detail-button">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <button (click)="onAddToCart()" class="btn btn-secondary">
        Add to Cart
      </button>
    </div>
    <h3>Description</h3>
    <p>{{ product.description }}</p>
  </div>
</div>
