.wrapper {
  display: flex;
  border: 0px;
}
.container {
  display: flex;
  background-color: #f3f4f6;
  max-width: 500px;
  border-radius: 20px;
  justify-content: center;
}
h3 {
  text-align: center;
  margin-bottom: 50px;
}
.form-control {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}
button {
  margin-bottom: 30px;
}
