<div class="wrapper">
  <div class="container">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <h3>Registration</h3>
        <div class="login-button">
          <input
            class="form-control"
            placeholder="First Name"
            formControlName="firstName"
            type="text"
          />
          <div
            *ngIf="
              firstName?.invalid && (firstName?.dirty || firstName?.touched)
            "
            class="alert alert-danger col-mt-1"
          >
            <div *ngIf="firstName?.errors?.['required']">
              First Name is required!
            </div>
            <div *ngIf="firstName?.errors?.['minlength']">
              First Name must be at least 3 characters long
            </div>
          </div>
          <input
            class="form-control"
            placeholder="Last Name"
            formControlName="lastName"
            type="text"
          />
          <div
            *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
            class="alert alert-danger col-mt-1"
          >
            <div *ngIf="lastName?.errors?.['required']">
              Last Name is required!
            </div>
            <div *ngIf="lastName?.errors?.['minlength']">
              Last Name must be at least 3 characters long
            </div>
          </div>
          <input
            (blur)="checkEmailExist()"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            type="text"
          />
          <div
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            class="alert alert-danger col-mt-1"
          >
            <div *ngIf="email?.errors?.['required']">Email is required!</div>
            <div *ngIf="email?.errors?.['pattern']">
              Email must be valid address format!
            </div>
          </div>
          <div *ngIf="emailExist" class="alert alert-danger col-mt-3">
            Email already exist!
          </div>
          <input
            class="form-control"
            placeholder="Password"
            formControlName="password"
            type="password"
          />
          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
            class="alert alert-danger col-mt-1"
          >
            <div *ngIf="password?.errors?.['required']">
              Password is required!
            </div>
            <div *ngIf="password?.errors?.['minlength']">
              Password must be at least 6 characters long
            </div>
          </div>
          <input
            class="form-control"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            type="password"
          />
          <div
            *ngIf="
              confirmPassword?.invalid &&
              (confirmPassword?.dirty || confirmPassword?.touched)
            "
            class="alert alert-danger col-mt-1"
          >
            <div *ngIf="confirmPassword?.errors?.['required']">
              Confirm Password is required!
            </div>
            <div *ngIf="confirmPassword?.invalid">
              Password and Confirm password does not match!
            </div>
          </div>
        </div>
        <div class="text-center">
          <button
            [disabled]="registrationForm.invalid || emailExist == true"
            type="submit"
            class="btn btn-success"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
